<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>1. TFC Leipzig - Die Nummer 1 der Heldenstadt.</title>

    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "site" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top" id="mainNav">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Start', '/' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Impressum', '/impressum.html' %>
          </li>
        </ul>
      </div>
    </nav>
    <header class="bg-tfc-color text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <%= image_tag 'tfc_leipzig.png', class: "tfc-logo", alt: "1. TFC Leipzig" %>
            <div class="tfc-title">1. TFC Leipzig</div>
            <div class="tfc-subtitle">Die Nummer 1 in der Heldenstadt.</div>
          <div>
        <div>
      </div>
    </header>

    <%= yield %>

    <!-- Sponsors -->
    <footer class="py-5 bg-white">
      <div class="container text-center logos">
        <% link_to 'https://www.blindow.de/leipzig-bbs' do %>
          <%= image_tag 'sponsor_blindow.png', alt: "Sponsor Bernd-Blindow-Schulen Leipzig" %>
        <% end %>

        <% link_to 'https://www.facebook.com/Kickers-in-131551600227218/' do %>
          <%= image_tag 'sponsor_kickers.png', alt: 'Sponsor Kickers In' %>
        <% end %>
        <br /><br />

        <% link_to 'https://dtfl.de' do %>
          <%= image_tag 'dtfl_male.png', alt: 'Deutsche Tischfussball Liga' %>
        <% end %>

        <% link_to 'http://www.mtfv1.de/' do %>
          <%= image_tag 'mtfv.png', alt: 'Mittldeutscher Tischfussballverband e.V.' %>
        <% end %>
      </div>
    </footer>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 1. TFC Leipzig 2018</p>
      </div>
    </footer>
  </body>
</html>
